#GameTalantPanel{
    width: 100%;
    height: 751px;
    background-image: url("file://{images}/custom_game/base/main_bg.png");
    vertical-align: bottom;
}
#TalantRightSidePanel{
    height: 722px;
    width: 475px;
    horizontal-align: right;
    vertical-align: bottom;
    background-image: url("file://{images}/custom_game/talant/right_side_bg.png");
}
#TalantLevelPanel{
    height: 52px;
    width: 805px;
    horizontal-align: left;
    vertical-align: top;
    margin-top: 29px;
    background-image: url("file://{images}/custom_game/talant/talant_level_bg.png");
}
#TalantLevel{
    color:#ffd6a3;
    font-size: 21px;
    font-weight: bold;
    vertical-align: bottom;
    margin-top: -4px;
    margin-left: 20px;
    text-shadow: 0px 0px 4px 2.0 black;
}
#TalantLevelProgressBar{
    width: 650px;
    height: 13px;
    margin-top: 22px;
    border:1px solid black;
    vertical-align: center;
}
#TalantLevelProgressBar .ProgressBarLeft{
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #705b3d ), color-stop( 0.5, #ceaa7d ), to( #705b3d ) );
}
.TalantLevelLineTextInfo{
    text-shadow: 0px 0px 4px 2.0 black;
    color:white;
    font-size: 19px;
}
#TalantExpCounter{
    horizontal-align: right;
}
#TalantLevelLinePanel{
    margin-left: 150px;
    margin-top: 10px;
}
#TalantMainNameLabel{
    horizontal-align: center;
    color:white;
    text-shadow: 0px 5px 4px 2.0 black;
    font-size: 24;
    margin-top: 40px;
}
#TalantMainImage{
    horizontal-align: center;
    margin-top: 85px;
    height: 210px;
    width: 210px;
    background-image: url('file://{images}/custom_game/talant/img/lich_sword.png');
    background-size: 100%;
}
#TalantMainDescriptionLabel{
    width: 90%;
    text-align: center;
    margin-top: 335px;
    horizontal-align: center;
    color:white;
    text-shadow: 0px 5px 4px 2.0 black;
    font-size: 21;
}
#TalantExploreButton{
    height: 79px;
    width: 367px;
    background-image: url("file://{images}/custom_game/talant/button.png");
    horizontal-align: center;
    margin-top: 500px;
    box-shadow: #38707a 0px 0px 16px 0px;
}
#TalantExploreButton Label{
    horizontal-align: center;
    vertical-align: center;
    font-size: 24;
    color:white;
    font-weight: bold;
    text-shadow: 0px 5px 4px 2.0 black;
}
#TalantExploreCounter{
    horizontal-align: center;
    margin-top: 607px;
    font-size: 24;
    color:white;
    text-shadow: 0px 5px 4px 2.0 black;
}
#TalantContentPanel{
    height: 100%;
    width: 805px;
    margin-top: 80px;
    overflow: clip scroll;
}
.TalantCirclePanel{
    height: 140px;
    width: 140px;
    background-color: gradient( radial, 50% 50%, 0% 0%, 50% 50%, from( rgba(199, 23, 23, 0.849) ), to( rgba(0, 0, 255, 0) ) );
}
.TalantCircleBg{
    height: 93px;
    width: 88px;
    background-image: url("file://{images}/custom_game/talant/talant_circle.png");
    background-size: 100%;
}
#talant_img{
    border-radius: 100px;
    width: 74px;
    height: 76px;
    margin-bottom: 6px;
    vertical-align: center;
    horizontal-align: center;
    background-image: url("file://{images}/custom_game/bp/items/1.jpg");
    background-size: 100%;
}
#talant_level_panel{
    flow-children: down;
    horizontal-align: center;
    vertical-align: bottom;
    margin-bottom: 15px;
}
.TalantLevelCircleNotActive{
    width: 20px;
    height: 7px;
    background-color: rgba(90, 80, 80, 0.9);
    margin: 1px;
    border: 1px solid black;
    box-shadow: #000000 0px 0px 2px 0px;
}
.TalantLevelCircleActive{
    width: 20px;
    height: 7px;
    background-color: rgba(84, 199, 30, 0.9);
    margin: 1px;
    border: 1px solid black;
    box-shadow: #000000 0px 0px 2px 0px;
}
#talant_progress_bar{
    height: 66%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.863);
    border:1px solid black;
    vertical-align: top;
}
#TalantHeroName{
    color:white;
    font-size: 28px;
    font-weight: bold;
    text-shadow: 0 2px 4px 2.0 black;
    horizontal-align: center;
    margin-top: 20px;
}
#TalantTreePanel,#TalantBarPanel{
    width: 100%;
    padding-bottom: 100px;
}
.TalentBar{
    height: 30px;
    width: 150px;
    horizontal-align: center;
}
.AvailableTalentBar{
    background-color: gradient( radial, 50% 50%, 0% 0%, 100% 50%, from( rgb(43, 91, 221) ), to( rgba(0, 0, 255, 0) ) );
}
.NotAvailableTalentBar{
    /* background-color: gradient( radial, 50% 50%, 0% 0%, 100% 50%, from( rgb(58, 62, 73) ), to( rgba(0, 0, 255, 0) ) ); */
    background-image: url("file://{images}/custom_game/talant/line_bg.png");
}
.TalantSelected:hover{
    brightness: 1.5;
    ui-scale: 105%;
    position: 0 -2px 0;
}
.TalantAvailable{
    brightness: 0.4;
}
.TalantAvailable:hover{
    brightness: 0.7;
    ui-scale: 105%;
    position: 0 -2px 0;
}
.TalantNotAvailable{
    brightness: 0.1;
}
.TalantNotAvailable:hover{
    brightness: 0.2;
}
.ButtonNotAvailable{
    saturation: 0.0;
    contrast: 0.85;
    brightness: .8;
    wash-color: #1a4064;
}















#TalantBar_1{
    transform: rotatez(90deg);
    margin-top: 150px;
    margin-right: 180px;
}
#TalantBar_2{
    transform: rotatez(90deg);
    margin-top: 150px;
    margin-left: 180px;
}
#TalantBar_3{
    transform: rotatez(45deg);
    margin-top: 260px;
    margin-right: 80px;
}
#TalantBar_4{
    transform: rotatez(-45deg);
    margin-top: 260px;
    margin-left: 80px;
}
#TalantBar_5{
    transform: rotatez(-45deg);
    margin-top: 340px;
    margin-right: 70px;
}
#TalantBar_6{
    transform: rotatez(90deg);
    margin-top: 350px;
}
#TalantBar_7{
    transform: rotatez(45deg);
    margin-top: 340px;
    margin-left: 70px;
}
#TalantBar_8{
    transform: rotatez(-45deg);
    margin-top: 460px;
    margin-right: 280px;
}
#TalantBar_9{
    transform: rotatez(90deg);
    margin-top: 450px;
}
#TalantBar_10{
    transform: rotatez(45deg);
    margin-top: 460px;
    margin-left: 280px;
}
#TalantBar_11{
    transform: rotatez(45deg);
    margin-top: 560px;
    margin-right: 260px;
}
#TalantBar_12{
    transform: rotatez(-45deg);
    margin-top: 550px;
    margin-right: 70px;
}
#TalantBar_13{
    transform: rotatez(45deg);
    margin-top: 550px;
    margin-left: 70px;
}
#TalantBar_14{
    transform: rotatez(-45deg);
    margin-top: 560px;
    margin-left: 260px;
}
#TalantBar_15{
    transform: rotatez(-45deg);
    margin-top: 660px;
    margin-right: 280px;
}
#TalantBar_16{
    transform: rotatez(45deg);
    margin-top: 670px;
    margin-right: 70px;
}
#TalantBar_17{
    transform: rotatez(-45deg);
    margin-top: 670px;
    margin-left: 70px;
}
#TalantBar_18{
    transform: rotatez(45deg);
    margin-top: 660px;
    margin-left: 280px;
}
#TalantBar_19{
    transform: rotatez(90deg);
    margin-top: 750px;
    margin-right: 360px;
}
#TalantBar_20{
    transform: rotatez(90deg);
    margin-top: 750px;   
}
#TalantBar_21{
    transform: rotatez(90deg);
    margin-top: 750px;
    margin-left: 360px;
}



#Talant_1{
    horizontal-align: center;
    margin-top: 75px;
    margin-right: 180px;
}
#Talant_2{
    horizontal-align: center;
    margin-top: 75px;
    margin-left: 180px;
}
#Talant_3{
    horizontal-align: center;
    margin-top: 175px;
    margin-right: 180px;
}
#Talant_4{
    horizontal-align: center;
    margin-top: 175px;
    margin-left: 180px;
}
#Talant_5{
    horizontal-align: center;
    margin-top: 275px;
}
#Talant_6{
    horizontal-align: center;
    margin-top: 375px;
    margin-right: 180px;
}
#Talant_7{
    horizontal-align: center;
    margin-top: 375px;
}
#Talant_8{
    horizontal-align: center;
    margin-top: 375px;
    margin-left: 180px;
}
#Talant_9{
    horizontal-align: center;
    margin-top: 475px;
    margin-right: 360px;
}
#Talant_10{
    horizontal-align: center;
    margin-top: 475px;
}
#Talant_11{
    horizontal-align: center;
    margin-top: 475px;
    margin-left: 360px;
}
#Talant_12{
    horizontal-align: center;
    margin-top: 575px;
    margin-right: 180px;
}
#Talant_13{
    horizontal-align: center;
    margin-top: 575px;
    margin-left: 180px;
}
#Talant_14{
    horizontal-align: center;
    margin-top: 675px;
    margin-right: 360px;
}
#Talant_15{
    horizontal-align: center;
    margin-top: 675px;
}
#Talant_16{
    horizontal-align: center;
    margin-top: 675px;
    margin-left: 360px;
}
#Talant_17{
    horizontal-align: center;
    margin-top: 775px;
    margin-right: 360px;
}
#Talant_18{
    horizontal-align: center;
    margin-top: 775px;
}
#Talant_19{
    horizontal-align: center;
    margin-top: 775px;
    margin-left: 360px;
}
/* 
#Talant_1{
    horizontal-align: center;
    margin-top: 75px;
}
#Talant_2{
    horizontal-align: center;
    margin-top: 175px;
    margin-right: 140px;
}
#Talant_3{
    horizontal-align: center;
    margin-top: 175px;
    margin-left: 140px;
}
#Talant_4{
    horizontal-align: center;
    margin-top: 275px;
}
#Talant_5{
    horizontal-align: center;
    margin-top: 375px;
    margin-right: 140px;
}
#Talant_6{
    horizontal-align: center;
    margin-top: 375px;
    margin-left: 140px;
}
#Talant_7{
    horizontal-align: center;
    margin-top: 475px;
}
#Talant_8{
    horizontal-align: center;
    margin-top: 575px;
    margin-right: 140px;
}
#Talant_9{
    horizontal-align: center;
    margin-top: 575px;
    margin-left: 140px;
}
#Talant_10{
    horizontal-align: center;
    margin-top: 675px;
}
#Talant_11{
    horizontal-align: center;
    margin-top: 775px;
    margin-right: 140px;
}
#Talant_12{
    horizontal-align: center;
    margin-top: 775px;
    margin-left: 140px;
} */

