.ToolContainer{
    height: 700px;
    width: 330px;
    border: 1px solid black;
    flow-children: down;
}
#AbilityActivePanel{
    background-color: #283863;
    margin: 0 10px;
    flow-children: down;
}
#AbilityActiveDescLabel{
    color: #7a80a7;
    text-shadow: 2px 2px 0px 1.0 #00000090;
    font-size: 16px;
    padding-bottom: 8px;
}
#AbilityActiveDescPanel{
    width: 330px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 6px;
    padding-bottom: 8px;
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #171d2f ), to( #1b2437 ) );
    margin-bottom: -12px;
    flow-children: down;
}
.AbilityParamsActive{
    flow-children: right-wrap;
}
.AbilityParamsActive Label{
    color: #6782a7;
    text-shadow: 2px 2px 0px 1.0 #00000090;
    font-size: 16px;
}
.AbilityParamsActive .Active{
    font-weight: bold;
    color: #a7b0ec;
}
.AbilityParamsPasive{
    flow-children: right-wrap;
}
.AbilityParamsPasive Label{
    color: #626d7b;
    text-shadow: 2px 2px 0px 1.0 #00000090;
    font-size: 16px;
}
.AbilityParamsPasive .Active{
    font-weight: bold;
    color: #a7b0ec;
}

#AbilityActiveLabel{
    text-shadow: 2px 2px 0px 1.0 #00000090;
    padding-top: 4px;
    height: 28px;
    background-repeat: no-repeat;
    background-position: top;
    background-image: url("s2r://panorama/images/hud/item_tooltip_active_psd.vtex");
    width: 100%;
    font-size: 16px;
    width: 330px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    letter-spacing: 0px;
    color: #7a80a7;
    font-weight: normal;
    /* background-color: gradient( linear, 0% 0%, 0% 100%, from( #171d2f ), to( #1b2437 ) ); */
}
#AbilityPasivePanel{
    /* background-color: #283863; */
    margin: 5px 10px;
    flow-children: down;
}
#AbilityPasiveLabel{
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #1c262f ), to( #1b262f ) );
    color: #626d7b;
    text-shadow: 2px 2px 0px 1.0 #00000090;
    margin-bottom: 0px;
    padding-top: 4px;
    height: 28px;
    background-repeat: no-repeat;
    background-position: top;
    background-image: url("s2r://panorama/images/hud/item_tooltip_passive_psd.vtex");
    font-size: 16px;
    width: 330px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 8px;

}
#AbilityPasiveLabelPanel{
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #1c262f ), to( #1b262f ) );
    width: 330px;
    padding-left: 8px;
    padding-left: 8px;
    padding-top: 6px;
    padding-bottom: 8px;
    margin-bottom: 12px;
    flow-children: down;

}
#AbilityPasiveDescLabel{
    font-size: 16px;
    color: #626d7b;
    text-shadow: 2px 2px 0px 1.0 #00000090;
}
#CooldownImg{
    background-image: url("s2r://panorama/images/status_icons/ability_cooldown_icon_psd.vtex");
    height: 20px;
    width: 20px;
    background-size: 100%;
}
#ManaImg{
    background-image: url("s2r://panorama/images/status_icons/ability_manacost_icon_psd.vtex");
    height: 20px;
    width: 20px;
    background-size: 100%;
}
#Casts{
    width: 100%;
    flow-children: right-wrap;
    padding-bottom: 6px;
}
#CooldownValues, #ManaValues{
    flow-children: right;
    margin-left: 3px;
}
#CooldownPanel{
    margin-right: 10px;
}
#AbilityParams{
    flow-children: down;
    padding-bottom: 8px;
}