.Guild_menu_root{
	height:100%;
	width:100%;
}

#Guild_menu_open_button{
	width: 30px;
	height: 30px;
	margin-left: 290px;
	background-image: url("file://{images}/guild/guild_icon.png");
	background-repeat: no-repeat;
	background-size: 100%;	
	margin-top:10px;
	tooltip-position: bottom;	
}

#Guild_menu_open_button:active{
	sound: "ui_chat_slide_in";
}

#Guild_container{
	height:700px;
	width:1000px;
	vertical-align:center;
	horizontal-align:center;
	margin-bottom: 120px;
	background-image: url("file://{images}/guild/bg.png");
	background-repeat: no-repeat;
	background-size: 100%;
}

.Guild_close{
	vertical-align: top;
	horizontal-align:right;
	margin: 20px;
	background-image: url("file://{images}/guild/close.png");
	background-repeat: no-repeat;
	background-size: 100%;
	width:20px;
	height:20px;
}

.Guild_close:active{
	sound: "ui_custom_lobby_dialog_slide";
}



/* ///////////////////////////////////////////// */


#Guild_loading, #Guild_loading_button{
	horizontal-align: center;
	vertical-align: center;
	background-image:url("file://{images}/guild/loading.png");
	background-repeat: no-repeat;
	background-size: 100%;
	width: 40px;
	height: 40px;
	animation-name: spin;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes 'spin'{
	0%{
		transform: rotateZ(180deg);
	}
	50%{
		transform: rotateZ(0deg);
	}
	100%{
		transform: rotateZ(-180deg);
	}
}

#Guild_list_container{
	height:700px;
	width:1200px;
	vertical-align:center;
	horizontal-align:center;
}

#Guild_list{
	height:600px;
	width:600px;
	margin-left: 50px;
	vertical-align:center;
	horizontal-align:left;
	flow-children:down;
	overflow: clip scroll;
	padding: 10px;
}

#Guild_list_back{
	height:600px;
	width:600px;
	margin-left: 50px;
	vertical-align:center;
	horizontal-align:left;
	background-image:url("file://{images}/guild/bg_list.png");
	background-repeat: no-repeat;
	background-size: 100%;
}

/* ////////////////////////////////////////////// */

.Guild_menu_container_list_card{
	width:100%;
	height: 90px;
	margin: 5px;
	background-image: url("file://{images}/guild/bg.png");
	background-repeat: no-repeat;
	background-size: 100%;
	box-shadow: #00000080 4px 4px 8px 0px;
}


#Guild_menu_container_list_icon{
	vertical-align:center;
	horizontal-align: left;
	width: 70px;
	height:70px;
	margin-left:15px;
	background-image: url("file://{images}/guild/icons/1.png");
	background-repeat: no-repeat;
	background-size: 100%;
	box-shadow: #00000080 4px 4px 8px 0px;
	border-radius: 8%;
}

#Guild_menu_container_list_icon_back{
	vertical-align:center;
	horizontal-align: left;
	width: 70px;
	height:70px;
	margin-left:15px;
	background-image: url("file://{images}/guild/icon.png");
	background-repeat: no-repeat;
	background-size: 100%;
}

#Guild_menu_container_list_name{
	color: gradient(linear, 0% 65%, 0% 100%, from(#FFFFFF), color-stop(0.2, #cfd7db), to(#e1e8eb));
	letter-spacing:1px;
	font-weight:bold;
	font-family:titleFont;
	font-size: 30px;
	text-shadow:0px 2px 16px 5.0 #000a;
	vertical-align:center;
	margin-left:92px;
	width: 140px;
	text-overflow: shrink;
}

#Guild_menu_container_list_level{
	color: gradient(linear, 0% 65%, 0% 100%, from(#FFFFFF), color-stop(0.2, #cfd7db), to(#e1e8eb));
	letter-spacing:1px;
	font-weight:bold;
	font-family:titleFont;
	font-size: 18px;
	text-shadow:0px 2px 16px 5.0 #000a;
	vertical-align:center;
	margin-left:235px;
	width: 100px;
	text-overflow: shrink;
}

#Guild_menu_container_list_count{
	color: gradient(linear, 0% 65%, 0% 100%, from(#FFFFFF), color-stop(0.2, #cfd7db), to(#e1e8eb));
	letter-spacing:1px;
	font-weight:bold;
	font-family:titleFont;
	font-size: 22px;
	text-shadow:0px 2px 16px 5.0 #000a;
	vertical-align:center;
	margin-left:340px;
	width: 100px;
	text-overflow: shrink;
	text-align:center;
}

#Guild_menu_container_list_card_button{
	vertical-align:center;
	horizontal-align: right;
	width: 100px;
	height:50px;
	background-image: url("file://{images}/guild/button.png");
	background-repeat: no-repeat;
	background-size: 100%;
	background-color: black;
	margin-right:15px;
}



#Guild_menu_container_list_card_button_label{
	vertical-align:center;
	horizontal-align: center;
	color: gradient(linear, 0% 65%, 0% 100%, from(#FFFFFF), color-stop(0.2, #cfd7db), to(#e1e8eb));
	letter-spacing:1px;
	font-weight:bold;
	font-family:titleFont;
	font-size: 14px;
	text-shadow:0px 2px 16px 5.0 #000a;
	vertical-align:center;
	text-overflow: shrink;
}

/* /////////////////////////////////// */

#Guild_create{
	height:600px;
	width:350px;
	/* margin-right: 50px; */
	vertical-align:center;
	horizontal-align:right;
	flow-children:down;
}

#Guild_create_panel_main_label{
	color: gradient(linear, 0% 65%, 0% 100%, from(#FFFFFF), color-stop(0.2, #cfd7db), to(#e1e8eb));
	letter-spacing:1px;
	font-weight:bold;
	font-family:titleFont;
	font-size: 30px;
	text-shadow:0px 2px 16px 5.0 #000a;
	vertical-align:center;
	text-overflow: shrink;
	text-align:center;
	vertical-align: center;
	width:100%;
}

/* //////////////////////////////////////// */

#Guild_image_container{
	vertical-align:center;
	horizontal-align:center;
	width: 210px;
	height:150px;
}

#Guild_image_contant{
	vertical-align:center;
	horizontal-align: center;
	width: 120px;
	height:120px;
	background-image: url("file://{images}/guild/icons/5.png");
	background-repeat: no-repeat;
	background-size: 100%;
	border-radius: 12%;
}

#Guild_image_contant_back{
	vertical-align:center;
	horizontal-align: center;
	width: 120px;
	height:120px;
	background-image: url("file://{images}/guild/icon.png");
	background-repeat: no-repeat;
	background-size: 100%;
}

#NextImage{
	vertical-align:center;
	horizontal-align: right;
	width: 40px;
	height:50px;
	background-image: url("file://{images}/guild/next.png");
	background-repeat: no-repeat;
	background-size: 100%;
}

#PrevImage{
	vertical-align:center;
	horizontal-align: left;
	width: 40px;
	height:50px;
	background-image: url("file://{images}/guild/prew.png");
	background-repeat: no-repeat;
	background-size: 100%;
}


#Guild_name{
	height:30px;
	width:200px;
	background-image:url("file://{images}/guild/bg_list.png");
	background-repeat: no-repeat;
	background-size: 100%;
	horizontal-align:center;
	background-color: #00000080;
	font-size:20px;
	
	color: gradient(linear, 0% 65%, 0% 100%, from(#FFFFFF), color-stop(0.2, #cfd7db), to(#e1e8eb));
	letter-spacing:1px;
	font-weight:bold;
	font-family:titleFont;
}

#guild_name_input{
	height:30px;
	width:400px;
	text-align:center center;
}

.Guild_labels{
	color: gradient(linear, 0% 65%, 0% 100%, from(#FFFFFF), color-stop(0.2, #cfd7db), to(#e1e8eb));
	letter-spacing:1px;
	font-weight:bold;
	font-family:titleFont;
	font-size: 16px;
	text-shadow:0px 2px 16px 5.0 #000a;
	vertical-align:center;
	text-overflow: shrink;
	margin:10px;
	horizontal-align: center;
	text-align: center;
	width:100%;
}

#Guild_description{
	height:120px;
	width:300px;
	background-image:url("file://{images}/guild/bg_list.png");
	background-repeat: no-repeat;
	background-size: 100%;
	horizontal-align:center;
	background-color: #00000080;
	font-size:20px;
	color: gradient(linear, 0% 65%, 0% 100%, from(#FFFFFF), color-stop(0.2, #cfd7db), to(#e1e8eb));
	letter-spacing:1px;
	font-weight:bold;
	font-family:titleFont;
}

#guild_description_input{
	height:120px;
	width:400px;
	padding: 5px;
}

#toggle_panel{
	flow-children: right;
	horizontal-align:center;
	vertical-align: top;
	margin: 30px;
}

#toggle_lable{
	color: gradient(linear, 0% 65%, 0% 100%, from(#FFFFFF), color-stop(0.2, #cfd7db), to(#e1e8eb));
	letter-spacing:1px;
	font-weight:bold;
	font-family:titleFont;
	font-size: 14px;
	text-shadow:0px 2px 16px 5.0 #000a;
	vertical-align:center;
	text-overflow: shrink;
	horizontal-align: center;
	text-align: center;
}

#Guild_create_button{
	horizontal-align:center;
	width: 200px;
	height:100px;
	background-image: url("file://{images}/guild/green_button.png");
	background-repeat: no-repeat;
	background-size: 100%;

	padding: 5px;
}

#Guild_create_panel_label{
	vertical-align: center;
	color: gradient(linear, 0% 65%, 0% 100%, from(#FFFFFF), color-stop(0.2, #cfd7db), to(#e1e8eb));
	letter-spacing:1px;
	font-weight:bold;
	font-family:titleFont;
	font-size: 14px;
	text-shadow:0px 2px 16px 5.0 #000a;
	margin:5px;
	width:100%;
	text-align: center;
}

#Guild_create_button_container{
	horizontal-align:center;
	vertical-align: center;
	flow-children: down;
	width:100%;
}

#Guild_create_button_content{
	horizontal-align:center;
	flow-children:right;
	margin:5px;
}

#Guild_create_button_image{
	width: 30px;
	height:25px;
	vertical-align: center;
	background-image: url("file://{images}/guild/gem.png");
	background-repeat: no-repeat;
	background-size: 100%;
}

#Guild_create_panel_label_cost{
	vertical-align: center;
	color: gradient(linear, 0% 65%, 0% 100%, from(#FFFFFF), color-stop(0.2, #cfd7db), to(#e1e8eb));
	letter-spacing:1px;
	font-weight:bold;
	font-family:titleFont;
	font-size: 14px;
	text-shadow:0px 2px 16px 5.0 #000a;
	margin:5px;
	text-align: center;
}

/* //////////////////////////////////// */

#guild_guild_container{
	height:650px;
	width:950px;
	vertical-align:center;
	horizontal-align:center;
}

#guild_left_side{
	height:620px;
	width:400px;
	vertical-align: bottom;
}

#guild_left_top{
	width: 100%;
}

#Guild_menu_icon{
	horizontal-align: center;
	width: 100px;
	height:100px;
	background-image: url("file://{images}/guild/guild.png");
	background-repeat: no-repeat;
	background-size: 100%;
	border-radius: 8%;
}

#Guild_menu_icon_back{
	horizontal-align: center;
	width: 100px;
	height:100px;
	background-image: url("file://{images}/guild/icon.png");
	background-repeat: no-repeat;
	background-size: 100%;
}

#Guild_menu_name{
	margin-top: 105px;
	color: gradient(linear, 0% 65%, 0% 100%, from(#FFFFFF), color-stop(0.2, #cfd7db), to(#e1e8eb));
	letter-spacing:1px;
	font-weight:bold;
	font-family:titleFont;
	font-size: 30px;
	text-shadow:0px 2px 16px 5.0 #000a;
	horizontal-align:center;
	text-overflow: shrink;
	text-align: center;
}

#exp_panel{
	margin-top: 145px;
	height: 55px;
	width: 319px;
	horizontal-align: center;
}

#Guild_menu_exp_icon{
	height: 55px;
	width: 319px;
	background-image: url("file://{images}/guild/guild_progress.png");
	background-repeat: no-repeat;
	background-size: 100%;
}

#Guild_menu_icon_lvl{
	height: 50px;
	width: 50px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #333 ), to( #000 ) );
	border-radius: 50%;
	border-brush: gradient( linear, 0% 100%, 0% 0%, from( #a37b42 ), color-stop( 0.38, #b17829 ), color-stop( 0.48, #be9457 ), color-stop( 0.58, #DBAB6A ), color-stop( 0.80, #daab66 ), to( #b17829 ) );
	horizontal-align:left;
	vertical-align:center;
	margin-left: 2px;
}

#Guild_menu_icon_lvl_text{
	align: center center;
	color: gradient(linear, 0% 65%, 0% 100%, from(#FFFFFF), color-stop(0.2, #cfd7db), to(#e1e8eb));
	font-weight:bold;
	font-size: 22px;
	horizontal-align:center;
	text-overflow: shrink;
}

#Guild_menu_icon_pr_bar{
	margin-top: 20px;
	margin-left:56px;
	height: 14px;
	width: 263px;
	background-image: url("file://{images}/guild/Player_menu_exp_bar.png");
	background-repeat: no-repeat;
	background-size: 100%;
}


#Guild_menu_member_list{
	vertical-align: bottom;
	horizontal-align: center;
	height:400px;
	width: 450px;
	background-color: #00000080;
	padding: 10px;
	flow-children:down;
	overflow: clip scroll;
}

#Guild_menu_member_list_back{
	vertical-align: bottom;
	horizontal-align: center;
	height:400px;
	width: 450px;
	background-image: url("file://{images}/guild/bg_list.png");
	background-repeat: no-repeat;
	background-size: 100%;
}

#Guild_menu_members_count{
	horizontal-align: right;
	margin-top: 200px;
	color: gradient(linear, 0% 65%, 0% 100%, from(#FFFFFF), color-stop(0.2, #cfd7db), to(#e1e8eb));
	letter-spacing:1px;
	font-weight:bold;
	font-family:titleFont;
	font-size: 14px;
	text-shadow:0px 2px 16px 5.0 #000a;
	text-overflow: shrink;
	text-align: center;
}

/* ///////////////////////////////////////// */


.member_card{
	width: 100%;
	height: 60px;
	background-image: url("file://{images}/guild/bg.png");
	background-repeat: no-repeat;
	background-size: 100%;
	padding:5px;
	box-shadow: #00000080 4px 4px 8px 0px;
	margin-bottom: 5px;
	flow-children: right;
}


#member_card_icon{
	vertical-align:center;
	width: 46px;
	height: 46px;
}

#member_card_name{
	vertical-align:center;
	margin-left: 5px;
	min-width: 180px;
	max-width: 180px;
	text-overflow: shrink;
	color: gradient(linear, 0% 65%, 0% 100%, from(#FFFFFF), color-stop(0.2, #cfd7db), to(#e1e8eb));
	letter-spacing:1px;
	font-weight:bold;
	font-family:titleFont;
	font-size: 20px;
	text-shadow:0px 2px 16px 5.0 #000a;
}

#member_data{
	vertical-align:center;
	margin-left: 5px;
	flow-children: down;
	width: 100px;
}

#member_card_date, #member_card_op{
	text-overflow: shrink;
	color: gradient(linear, 0% 65%, 0% 100%, from(#FFFFFF), color-stop(0.2, #cfd7db), to(#e1e8eb));
	letter-spacing:1px;
	font-weight:bold;
	font-family:titleFont;
	font-size: 14px;
	text-shadow:0px 2px 16px 5.0 #000a;
}

#member_card_remove{
	vertical-align:center;
	horizontal-align:right;
	margin-right: 5px;
	width: 16px;
	height: 16px;
	background-image: url("file://{images}/guild/close.png");
	background-repeat: no-repeat;
	background-size: 100%;
	brightness: 0.4;
}



/* ///////////////////////////////////////// */
/* ///////////////////////////////////////// */
/* ///////////////////////////////////////// */

#SourceValueLineV{
	width: 1px;
	height: 100%;
	background-color: gradient(linear, 0% 0%, 0% 100%, from(rgba(219, 163, 101, 0.2)), to(#ffffff00));
	vertical-align: center;
	margin-left: 410px;
}

.SourceValueLineH{
	width: 90%;
	height: 1px;
	background-color: gradient(linear, 0% 0%, 0% 100%, from(rgba(219, 163, 101, 0.2)), to(#ffffff00));
	horizontal-align: center;
	/* margin-top: 210px; */
}

#guild_right_side{
	height:650px;
	width: 100%;
	margin-top: 25px;
	vertical-align: top;
	background-image: url("file://{images}/guild/bg_list.png");
	background-repeat: no-repeat;
	background-size: 100%;
	margin-left: 420px;
	background-color: #00000080;
	flow-children: down;
}

#guild_right_side_boss_conteiner{
	horizontal-align: left;
	width: 350px;
}

#guild_right_side_image{
	height:100px;
	width:140px;
	margin: 20px;
	vertical-align: top;
	horizontal-align:center;
	background-image: url("file://{images}/guild/boss_battle.png");
	background-repeat: no-repeat;
	background-size: 100%;
}

#guild_right_side_label{
	margin-top: 120px;
	horizontal-align: center;
	text-overflow: shrink;
	color: gradient(linear, 0% 65%, 0% 100%, from(#FFFFFF), color-stop(0.2, #cfd7db), to(#e1e8eb));
	letter-spacing:1px;
	font-weight:bold;
	font-family:titleFont;
	font-size: 18px;
	text-shadow:0px 2px 16px 5.0 #000a;
}

#guild_right_side_progress{
	margin-top: 160px;
	width:300px;
	horizontal-align:center;
}

#DiscountModeActivateFX
{
    width: 100%;
    height: 100%;
	vertical-align: center;
    horizontal-align: center;
    ignore-parent-flow: true;
    opacity-mask: url("s2r://panorama/images/masks/softedge_box_png.vtex");
    opacity: 1;
}

.bar{
	border-radius: 2px;
	width: 300px;
	height: 26px;
	horizontal-align: center;
	vertical-align: center;
	border: 1px solid black;
}

#Energy_bar_Left{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #1d200d ), color-stop( 0.2, #2e2d13 ), color-stop( .5, #272911), to( #1d200d) );
}

#Energy_bar_Right{
	/* background-color: #00000080;  */
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #1d200d ), color-stop( 0.2, #2e2d13 ), color-stop( .5, #272911), to( #1d200d) );
}

#RegenBurner{
	hue-rotation: 360deg;
	width: 100%;
	height: 26px;
}

#guild_right_side_boss{
	width: 100%;
	height: 210px;
}


#guild_members_boss_list{
	horizontal-align: right;
	flow-children: down;
	height: 100%;
}

#guild_members_boss_start{
	width: 150px;
	height:50px;
	background-image: url("file://{images}/guild/button_golden.png");
	background-repeat: no-repeat;
	background-size: 100%;
	vertical-align: center;
	horizontal-align: center;
}

#guild_members_boss_start_container{
	width: 200px;
	height:80px;
	vertical-align: bottom;
	horizontal-align: right;
}



/* /////////////////////////RIGHT BOTTOM///////////////////// */

#guild_right_side_bottom{
	width: 100%;
	vertical-align: bottom;
}


#guild_leave{
	height:50px;
	width:200px;
	background-image: url("file://{images}/guild/button_red.png");
	background-repeat: no-repeat;
	background-size: 100%;
	vertical-align: bottom;
	horizontal-align:right;
	margin: 20px;
}

#guild_membersbuy_slot{
	vertical-align:bottom;
	horizontal-align: left;
	width: 80px;
	height:80px;
	background-image: url("file://{images}/guild/menus/buy_slots.png");
	background-repeat: no-repeat;
	background-size: 100%;
	margin: 20px;
}

#guild_members_request{
	vertical-align:bottom;
	horizontal-align: left;
	width: 80px;
	height:80px;
	background-image: url("file://{images}/guild/menus/members.png");
	background-repeat: no-repeat;
	background-size: 100%;
	margin: 20px;
	margin-left: 100px;
}

#guild_members_request_list{
	height:500px;
	width:600px;
	vertical-align:center;
	horizontal-align:center;
	background-image: url("file://{images}/guild/bg.png");
	background-repeat: no-repeat;
	background-size: 100%;
	
}

#guild_members_request_content{	
	height:360px;
	width:540px;
	margin-bottom: 20px;
	vertical-align:center;
	horizontal-align: center;
	flow-children:down;
	overflow: clip scroll;
	background-color: #00000080;
	padding: 10px;
}

#guild_members_request_content_back{	
	height:360px;
	width:540px;
	margin-bottom: 20px;
	vertical-align:center;
	horizontal-align: center;
	background-image:url("file://{images}/guild/bg_list.png");
	background-repeat: no-repeat;
	background-size: 100%;
}

.request_card{
	width: 100%;
	height: 60px;
	background-image: url("file://{images}/guild/bg.png");
	background-repeat: no-repeat;
	background-size: 100%;
	padding:5px;
	box-shadow: #00000080 4px 4px 8px 0px;
	margin-bottom: 5px;
	flow-children: right;
}

#request_card_icon{
	vertical-align:center;
	width: 46px;
	height: 46px;
	margin-left: 20px;
}

#request_card_name{
	vertical-align:center;
	margin-left: 5px;
	min-width: 180px;
	max-width: 180px;
	text-overflow: shrink;
	color: gradient(linear, 0% 65%, 0% 100%, from(#FFFFFF), color-stop(0.2, #cfd7db), to(#e1e8eb));
	letter-spacing:1px;
	font-weight:bold;
	font-family:titleFont;
	font-size: 20px;
	text-shadow:0px 2px 16px 5.0 #000a;
}

#request_card_date{
	vertical-align:center;
	margin-left: 5px;
	flow-children: down;
	width: 100px;
}

#request_card_buttons{
	vertical-align:center;
	horizontal-align: right;
	margin-right: 5px;
	/* width: 100px; */
	flow-children: right;
}

#request_card_yes{
	vertical-align:center;
	horizontal-align:right;
	margin: 5px;
	width: 18px;
	height: 18px;
	background-image: url("file://{images}/guild/accept.png");
	background-repeat: no-repeat;
	background-size: 100%;
	brightness: 0.4;
}

#request_card_no{
	vertical-align:center;
	horizontal-align:right;
	margin: 5px;
	width: 18px;
	height: 18px;
	background-image: url("file://{images}/guild/close.png");
	background-repeat: no-repeat;
	background-size: 100%;
	brightness: 0.4;
}

#reject_all{
	vertical-align:bottom;
	horizontal-align: center;
	width: 150px;
	height:50px;
	background-image: url("file://{images}/guild/button_red.png");
	background-repeat: no-repeat;
	background-size: 100%;
	margin: 15px;
}

/* /////////////////////description//////////////// */

#Guild_description_label{
	height: 80px;
	width: 100%;
	text-align: center center;
}

/* /////////////////////rewards//////////////// */

#guild_rewards_list{
	horizontal-align: center;
	flow-children: right-wrap;
}

.reward_item{
	height: 80px;
	width: 80px;
	margin: 7px;
	background-image: url("file://{images}/guild/menus/reward_8.png");
	background-repeat: no-repeat;
	background-size: 100%;
}


/* /////////////////////BUY SLOT////////////// */

#Guild_menu_member_buy_accept{
	height:200px;
	width:350px;
	background-image: url("file://{images}/guild/bg.png");
	background-repeat: no-repeat;
	background-size: 100%;
	background-color:black;
	vertical-align:center;
	horizontal-align:center;
	box-shadow: #00000080 4px 4px 8px 0px;
}

#buy_menu{
	margin-bottom: 100px;
}

#Guild_menu_member_buy_yes{
	vertical-align:center;
	horizontal-align: left;
	width: 150px;
	height:50px;
	background-image: url("file://{images}/guild/green_button.png");
	background-repeat: no-repeat;
	background-size: 100%;
	margin-left: 20px;
	margin-top: 70px;
}

#Guild_menu_member_buy_no{
	vertical-align:center;
	horizontal-align: right;
	width: 150px;
	height:50px;
	background-image: url("file://{images}/guild/button_red.png");
	background-repeat: no-repeat;
	background-size: 100%;
	margin-right: 20px;
	margin-top: 70px;
}


/* /////////////////////LEAVE////////////// */


#Guild_menu_member_leave_accept{
	height:200px;
	width:350px;
	background-image: url("file://{images}/guild/bg.png");
	background-repeat: no-repeat;
	background-size: 100%;
	background-color:black;
	vertical-align:center;
	horizontal-align:center;
	box-shadow: #00000080 4px 4px 8px 0px;
}

#Guild_menu_member_leave_yes{
	vertical-align:center;
	horizontal-align: left;
	width: 150px;
	height:50px;
	background-image: url("file://{images}/guild/green_button.png");
	background-repeat: no-repeat;
	background-size: 100%;
	margin-left: 20px;
	margin-top: 70px;
}

#Guild_menu_member_leave_no{
	vertical-align:center;
	horizontal-align: right;
	width: 150px;
	height:50px;
	background-image: url("file://{images}/guild/button_red.png");
	background-repeat: no-repeat;
	background-size: 100%;
	margin-right: 20px;
	margin-top: 70px;
}

/* ////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////// */

.leave_menu{
	margin-bottom: 100px;
}

.label_16{
	vertical-align: center;
	horizontal-align: center;
	text-overflow: shrink;
	color: gradient(linear, 0% 65%, 0% 100%, from(#FFFFFF), color-stop(0.2, #cfd7db), to(#e1e8eb));
	letter-spacing:1px;
	font-weight:bold;
	font-family:titleFont;
	font-size: 16px;
	text-shadow:0px 2px 16px 5.0 #000a;
}

/* ////////////////////////////////////////// */

#guild_members_request:hover, .request_card:hover, #request_card_yes:hover, .Guild_close:hover, .Guild_menu_container_list_card:hover, #Guild_menu_container_list_card_button:hover, #NextImage:hover, #PrevImage:hover, #Guild_create_button:hover, .member_card:hover, #member_card_remove:hover, #guild_leave:hover, #Guild_menu_member_leave_yes:hover, #Guild_menu_member_leave_no:hover, #guild_members_boss_start:hover, #reject_all:hover, .reward_item:hover, #guild_membersbuy_slot:hover, #request_card_no:hover{
	brightness: 1.6;
	sound: "ui_select_arrow";
}