.player_stats_menu_root{
	height: 100%;
	width: 100%;
}

#open_stats_menu_button{
	height: 30px;
	width: 30px;
	align: center center;
	margin-top: 500px;
	background-color: red;

}

#open_stats_menu_button_level_up{
	height: 30px;
	width: 30px;
	align: center center;
	margin-left: 100px;
	margin-top: 500px;
	background-color: blue;
}

.player_stats_menu_main{
	height: 600px;
	width: 400px;
	align: right center;
	
	background-image: url("file://{images}/elements/StatsMenu/MainWindowInternalFrame.png");
	background-repeat: no-repeat;
	background-size: 100%;
	border-radius: 8px;

	opacity: 0.5;
	pre-transform-scale2d: 0.8;
	transition-property: opacity, pre-transform-scale2d,position;
	transition-duration: 0.37s;
	transition-timing-function: ease-in-out;
	position: 20% 0px 0px;
	
}

#player_stats_menu_main_border{
	height: 600px;
	width: 400px;
	align: center center;
	background-image: url("file://{images}/elements/StatsMenu/MainWindowFrame.png");
	background-repeat: no-repeat;
	background-size: 100%;
	z-index: 10;
}

#player_stats_menu_main_content{
	height: 600px;
	width: 400px;
	align: center center;
	background-image: url("file://{images}/elements/StatsMenu/Parchment.png");
	background-repeat: no-repeat;
	background-size: 100%;
	flow-children: down;
	margin: 10px;
}

	

.open_stats_menu{
	opacity: 1;
	pre-transform-scale2d: 1;
	position: 0% 0px 0px;
}

.player_stats_menu_label{
	color: black;
	font-size: 25px;
	font-weight: bold;
	font-family: titleFont;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.stats_panels{
	flow-children: right;
	background-color: rgba(0,0,0,.55);
	horizontal-align: center;
	width: 250px;
	
}

#player_stats_menu_button{
	background-color: white;
	height: 50px;
	width: 50px;
}