#SubtitlesPanel{
    border:1px solid black;
    width: 350px;
    height: 200px;
    vertical-align: bottom;
    margin-bottom: 250px;
    
    flow-children: down;
}
.PlayerInfoPanel{
    flow-children: right;
}
#PlayerHeroImage{
    vertical-align: center;
}
#PlayerActionLabel{
    color:white;
    text-shadow: 0 2px 4px 2.0 black;
    vertical-align: center;
}