.player_hud_main{
	height: 100%;
	width: 100%;
}

#player_hud_main_container{
	horizontal-align: center;
	vertical-align: bottom;
	/* background-color: red; */
	width: 100%;
}

#portraitHUD{
	height: 200px;
	width: 200px;
	opacity-mask: url("file://{images}/HUD/mask_1.png");
}

#PortraitGroup{
	vertical-align: bottom;
	height: 200px;
	width: 300px;
	/* background-color: green; */
}

#unitname{
	vertical-align: bottom;
	width: 190px;
	margin:5px;
}



//////////////////////////////////////////////
//////////////////////////////////////////////
//////////////////////////////////////////////

#StatContainer
{
    horizontal-align: left;
	vertical-align:bottom;
	margin-left: 200px;
    flow-children: down;
	min-width: 130px;
	background-color: gradient(linear, -30% 0%, 100% 0%, from(#0d0c0c), to(transparent));
	padding: 5px;
}

.StatPanels{
    flow-children: right;
    horizontal-align: left;
}

.StatPanelsLabel{
	font-size: 14px;
    font-weight: bold;
    letter-spacing: 0px;
    color: #ccc;
    text-align: left;
    horizontal-align: right;
    margin-top: 3px;
    text-shadow: 0px 0px 4px 4 #00000088;
    font-family: monospaceNumbersFont;
    color: #ccc;
}

.StatIcon
{
    background-repeat: no-repeat;
    background-size: cover;
    horizontal-align: left;
}

#DamageIcon
{
    width: 14px;
    height: 14px;
    background-image: url("s2r://panorama/images/hud/reborn/icon_damage_psd.vtex");
    vertical-align: top;
    margin-top: 4px;
}

#AttackSpeedIcon
{
    width: 14px;
    height: 14px;
    background-image: url("s2r://panorama/images/hud/reborn/icon_attack_speed_psd.vtex");
    vertical-align: top;
    margin-top: 4px;
}

#ArmorIcon
{
    width: 14px;
    height: 14px;
    background-image: url("s2r://panorama/images/hud/reborn/icon_armor_psd.vtex");
    margin-top: 4px;
}

#MoveSpeedIcon
{
    width: 14px;
    height: 14px;
    background-image: url("s2r://panorama/images/hud/reborn/icon_speed_psd.vtex");
    margin-top: 4px;
}

.Str{
	height: 15px;
	width: 15px;
	horizontal-align: left;
	vertical-align:center;	
	background-image: url("file://{images}/pick_menu/str.png");
	background-repeat: no-repeat;
	background-size: 100%;
}

.Agi{
	height: 15px;
	width: 15px;
	horizontal-align: left;
	vertical-align:center;	
	background-image: url("file://{images}/pick_menu/agi.png");
	background-repeat: no-repeat;
	background-size: 100%;	
}

.Vit{
	height: 15px;
	width: 15px;
	horizontal-align: left;
	vertical-align:center;	
	background-image: url("file://{images}/pick_menu/vit.png");
	background-repeat: no-repeat;
	background-size: 100%;	
}

.Eng{
	height: 15px;
	width: 15px;
	horizontal-align: left;
	vertical-align:center;	
	background-image: url("file://{images}/pick_menu/eng.png");
	background-repeat: no-repeat;
	background-size: 100%;	
}

/* ////////////////////////////////////////////////////////////////////////// */

#AbilityGroupContainer{
	horizontal-align: center;
	flow-children: down;
	vertical-align:bottom;
}

#AbilityGroup{
	horizontal-align: center;
	flow-children: right;
	vertical-align:bottom;
}

#HpBar{
	height: 152px;
	width: 152px;
	border-radius: 50%;
	transform: rotateZ(-90deg);
	vertical-align: bottom;
	margin-left: 10px;
	margin-bottom: 12px;
	box-shadow: inset 0px 0px 40px 0px #300101;
}

#MpBar{
	height: 152px;
	width: 152px;
	border-radius: 50%;
	transform: rotateZ(-90deg);
	vertical-align: bottom;
	horizontal-align: right;
	margin-right: 10px;
	margin-bottom: 12px;
	
	box-shadow: inset 0px 0px 40px 0px #011833;
}

#HpBar_Left{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #1d200d ), color-stop( 0.2, #2e2d13 ), color-stop( .5, #272911), to( #1d200d) );
}

#HpBar_Right{
	/* background-color: gradient( linear, 0% 0%, 0% 100%, from( #1d200d ), color-stop( 0.2, #2e2d13 ), color-stop( .5, #272911), to( #1d200d) ); */
}

#HpLabelBar{
	height: 152px;
	width: 152px;
	border-radius: 50%;
	vertical-align: bottom;
	margin-left: 10px;
	margin-bottom: 12px;	
}

#MpLabelBar{
	height: 152px;
	width: 152px;
	vertical-align: bottom;
	horizontal-align: right;
	margin-right: 10px;
	margin-bottom: 12px;	
}

#HpLabel, #MpLabel{
    text-align: center;
	vertical-align: center;
	horizontal-align: center;
	color: gradient(linear, 0% 65%, 0% 100%, from(#FFFFFF), color-stop(0.2, #cfd7db), to(#e1e8eb));
	font-weight:bold;
	font-family:titleFont;
	font-size: 18px;
	text-shadow:0px 2px 16px 5.0 #000a;
	text-overflow: shrink;
	opacity:0.6;
}

/* ///////////////////////////////////////////////////////////////////////////////// */

#ExpBarContainer{
	height: 20px;
	width: 800px;
	horizontal-align: left;
	vertical-align:center;	
	background-image: url("file://{images}/HUD/xp_bar.png");
	background-repeat: no-repeat;
	background-size: 100%;	
	
	horizontal-align: center;
	vertical-align:bottom;
}

#ExpBar{
	horizontal-align:center;
	vertical-align: center;
	height: 8px;
	width: 750px;
}

/* ///////////////////////////////////////////////////////////////////////////////// */

#ButtonStatsEffect{
	height: 43px;
	width: 43px;
	horizontal-align:left;
	vertical-align: bottom;
	margin-bottom:6px;
	/* background-color: red; */
}

.full{
	height: 100%;
	width: 100%;	
}

#ButtonStats{
	height: 35px;
	width: 35px;
	horizontal-align:left;
	vertical-align: bottom;
	background-image: url("file://{images}/HUD/button_stats.png");
	background-repeat: no-repeat;
	background-size: 100%;	
	margin-bottom:10px;
	margin-left: 5px;
}

#ButtonTeleport{
	height: 35px;
	width: 35px;
	horizontal-align:left;
	vertical-align: bottom;
	background-image: url("file://{images}/HUD/teleport.png");
	background-repeat: no-repeat;
	background-size: 100%;	
	margin-bottom:49px;
	margin-left: 5px;
}

#ButtonInventory{
	height: 35px;
	width: 35px;
	horizontal-align:left;
	vertical-align: bottom;
	background-image: url("file://{images}/HUD/inventory.png");
	background-repeat: no-repeat;
	background-size: 100%;	
	margin-bottom:10px;
	margin-left: 45px;	
}

#ButtonStats:hover, #ButtonInventory:hover, #ButtonTeleport:hover{
	brightness: 1.6;
	sound: "ui_select_arrow";
}



/* ///////////////////////////////////////////////////////////////////////////////// */

#panel_bg{
	height: 150px;
	width: 150px;
	background-color: rgb(39, 39, 88);
	
}

#AbilitiesAndStatBranch{
	height: 101px;
	background-image: url("file://{images}/HUD/center.png");
	background-repeat: no-repeat;
	background-size: 100%;	
	vertical-align:bottom;
}

.liftside, .rightside{
	vertical-align: bottom;
}

.BarBackLeft{
	vertical-align: bottom;
	height: 174px;
	width: 269px;
	background-image: url("file://{images}/HUD/left.png");
	background-repeat: no-repeat;
	background-size: 100%;	
}

.BarBackRight{
	vertical-align: bottom;
	height: 174px;
	width: 269px;
	background-image: url("file://{images}/HUD/right.png");
	background-repeat: no-repeat;
	background-size: 100%;	
}

#MapGroup{
	height: 200px;
	width: 200px;
	margin:5px;
	horizontal-align:right;
	vertical-align: bottom;
	box-shadow: inset 0px 0px 20px 0px black;
}

#overlaymap{
	height: 100%;
	width: 100%;

}

#MapGroupBack{
	height: 200px;
	width: 200px;
	margin:5px;
	horizontal-align:right;
	vertical-align: bottom;
	background-image: url("file://{images}/HUD/map.png");
	background-repeat: no-repeat;
	background-size: 100%;			
}

/* ............................................................................. */

.player_stats_menu_main{
	height: 600px;
	width: 400px;
	align: right center;
	background-image: url("file://{images}/HUD/panel.png");
	background-repeat: no-repeat;
	background-size: 100%;
	pre-transform-scale2d: 0.8;
	transition-property: opacity, pre-transform-scale2d,position;
	transition-duration: 0.37s;
	transition-timing-function: ease-in-out;
	position: 20% 0px 0px;
	flow-children: down;
	padding: 18px;

}

#statistic_label{
	horizontal-align: center;
	text-align: center;
	color: gradient(linear, 0% 65%, 0% 100%, from(#FFFFFF), color-stop(0.2, #cfd7db), to(#e1e8eb));
	font-weight:bold;
	font-family:titleFont;
	font-size: 30px;
	text-shadow:0px 2px 16px 5.0 #000a;
	text-overflow: shrink;
	opacity:0.6;
}

#player_stats_description{
	horizontal-align: center;
	width: 100%;
	margin-top: 30px;
	flow-children: down;
}

#HeroName{
	horizontal-align: center;
	color: #edb96e; //gradient(linear, 0% 65%, 0% 100%, from(#FFFFFF), color-stop(0.2, #cfd7db), to(#e1e8eb));
	letter-spacing:1px;
	font-weight:bold;
	font-family:titleFont;
	font-size: 24px;
	text-shadow:0px 2px 16px 5.0 #000a;
	text-overflow: shrink;
	text-align:center;
}

#HeroClass, #HeroLevel{
	horizontal-align: center;
	color: #edb96e; //gradient(linear, 0% 65%, 0% 100%, from(#FFFFFF), color-stop(0.2, #cfd7db), to(#e1e8eb));
	letter-spacing:1px;
	font-weight:bold;
	font-family:titleFont;
	font-size: 16px;
	text-shadow:0px 2px 16px 5.0 #000a;
	text-overflow: shrink;
	text-align:center;
	margin: 2px;
}

#player_stats_menu_main_content{
	width: 100%;
	background-image: url("file://{images}/elements/StatsMenu/Parchment.png");
	background-repeat: no-repeat;
	background-size: 100%;
	flow-children: down;
}

.open_stats_menu{
	opacity: 1;
	pre-transform-scale2d: 1;
	position: 0% 0px 0px;
}

/* ///////////////// */

.stats_container{
	width: 100%;
	flow-children: down;
}

.player_stats_formula{
	margin-left: 20px;
	color: gradient(linear, 0% 65%, 0% 100%, from(#FFFFFF), color-stop(0.2, #cfd7db), to(#e1e8eb));
	letter-spacing:1px;
	/* font-weight:bold; */
	font-family:titleFont;
	font-size: 14px;
	text-shadow:0px 2px 16px 5.0 #000a;
	text-overflow: shrink;
	text-align:left;
}

.stats_panels{
	width: 100%;
	horizontal-align: center;
	background-image: url("file://{images}/HUD/stat_panel.png");
	background-repeat: no-repeat;
	background-size: 100%;		
	margin: 10px 5px 0 5px;
}

.player_stats_menu_label{
	horizontal-align: left;
	vertical-align: center;
	color: gradient(linear, 0% 65%, 0% 100%, from(#FFFFFF), color-stop(0.2, #cfd7db), to(#e1e8eb));
	letter-spacing:1px;
	font-weight:bold;
	font-family:titleFont;
	font-size: 18px;
	text-shadow:0px 2px 16px 5.0 #000a;
	text-overflow: shrink;
	text-align:center;
	margin-left: 20px;
}

.stats_panels_label_container{
	horizontal-align:right;
	vertical-align: center;
	margin-right: 50px;
	height: 30px;
	background-image: url("file://{images}/HUD/stat_current.png");
	background-repeat: no-repeat;
	background-size: 100%;
	min-width: 100px;
}

.current_stats{
	horizontal-align: center;
	vertical-align: center;
	color: gradient(linear, 0% 65%, 0% 100%, from(#FFFFFF), color-stop(0.2, #cfd7db), to(#e1e8eb));
	letter-spacing:1px;
	font-weight:bold;
	font-family:titleFont;
	font-size: 18px;
	text-shadow:0px 2px 16px 5.0 #000a;
	text-overflow: shrink;
	text-align:center;
}

#player_stats_menu_button{
	height: 40px;
	width: 40px;
	margin: 5px;
	horizontal-align:right;
	vertical-align: center;
	background-image: url("file://{images}/HUD/button_stats.png");
	background-repeat: no-repeat;
	background-size: 100%;	
}

#player_stats_menu_button_effect{
	height: 50px;
	width: 50px;
	horizontal-align:right;
	vertical-align: center;
}

/* ///////////////////////////// */

.free_points_count{
	horizontal-align: right;
	flow-children: right;
	margin-right: 5px;
}

#free_points_count_image{
	height: 40px;
	width: 40px;
	margin: 5px;
	horizontal-align:right;
	vertical-align: center;
	background-image: url("file://{images}/HUD/button_stats.png");
	background-repeat: no-repeat;
	background-size: 100%;	
}
