#MainPanel{
    horizontal-align: center;
    margin-top: 95px;
    flow-children: down;
}
#BossNameLabel{
    horizontal-align: center;
    color:rgb(240, 159, 53);
    font-weight: bold;
    font-size: 24;
    text-shadow: 2px 4px 6px 2.0 black;
}
#HPBarPanel{
    height: 40px;
    width: 700px;
    
}
#HPBarBGImg{
    background-image: url("file://{images}/custom_game/hp_bar.png");
    height: 100%;
    width: 100%;
    background-size: contain;
    img-shadow: 10px 10px 10px 3.0 #000000b0;
}
#BossHpBar{
    width: 94%;
    vertical-align: center;
    horizontal-align: center;
    height: 15px;
}
#BossHpBar_Left{
    background-color: rgb(255, 0, 0);
}