#DebugPanelButton{
	horizontal-align: left;
	vertical-align:top;	
	width: 50px;
	height: 50px;
	background-color: red;
	margin-left: 200px;
}

#DebugPanel{
	horizontal-align: left;
	vertical-align:center;
    width: 550px;
	height: 700px;
	background-color: #525764;
	padding: 10px;
}

#CreepPool{
	horizontal-align: center;
	vertical-align:center;
	height: 800px;
	flow-children: down-wrap;
	padding: 10px;
	background-color: #525764;
}

.creep_label{
	vertical-align: center;
	color: #8f98ad;
	margin: 3px;
	font-size: 16px;
	border: 1px solid transparent;
	padding: 2px;

}

.creep_label:hover{
	border: 1px solid black;
}

#CreateUnitPanel{
	flow-children: down;
}

#CreateUnit
{
	align: left top;
	width: 180px;
	height: 34px;
	background-size: 27px 27px;
	background-position: right 33px 35%;
	padding: 0px 0px;
	background-color: rgba(0, 0, 0, 0.3);
	border-color: #525764;
}

#CreateUnit Label
{
	vertical-align: center;
	color: #8f98ad;
}

#CreateUnitName{
	align: center center;
}

#CreateUnitButton{
	align: left top;
	width: 80px;
	height: 34px;
	background-color: rgba(0, 0, 0, 0.3);
	margin-top: 5px;
}

#CreateUnitButton:hover, #LevelMax:hover{
	sound: "ui_select_arrow";
	brightness: 1.8;
	background-color: rgba(44, 105, 26, 0.3);
}

#CreateUnitButtonLabel{
	align: center center;
}

/* //////////////////////////////////// */

#LevelMax{
	align: left top;
	width: 80px;
	height: 34px;
	background-color: rgba(0, 0, 0, 0.3);
	margin-top: 85px;	
}

#LevelMaxLabel{
	align: center center;
}

/* ///////////////////////////////////////// */
/* ///////////////////////////////////////// */
/* ///////////////////////////////////////// */

#test_main_panel{
	height: 100%;
	width: 100%;
	/* background-color: green; */
	align:center center;
}
		
.OverworldZoom{
	overflow: clip;
	height: 100%;
	width: 100%;
	/* background-color: red; */
}

#DragZoomContentPanel{
	vertical-align: center;
	horizontal-align: center;
	overflow: noclip;
	z-index: 1;
	transition-property: transform, position;
	transition-delay: 0s;
	transition-timing-function:ease-in-out;

}

#test{
	height: 800px;
	width: 800px;
	vertical-align: center;
	horizontal-align: center;
		overflow: noclip;
}


#test2{
	vertical-align: center;
	horizontal-align: center;
	width:4000px;
	height:4000px;
	background-image: url("file://{images}/test.png");
	background-repeat: no-repeat;
	background-size: 100%;
	/* background-color: #525764; */
	overflow: noclip;

}

#test_item{
	align: center center;
	width:100px;
	height:100px;
	background-image: url("file://{images}/pick_menu/agi.png");
	background-repeat: no-repeat;
	background-size: 100%;		
}

#test_item2{
	align: center center;
	width:50px;
	height:50px;
	background-image: url("file://{images}/pick_menu/str.png");
	background-repeat: no-repeat;
	background-size: 100%;		
	margin-bottom: 3500px;	
}