#HeroSelection{
    height: 100%;
    width: 100%;
}
#HeroSelectionBG{
    height: 100%;
    width: 100%;
    /* background-color: black; */
    background-image: url("s2r://panorama/images/backgrounds/pregame_bg_lowquality_psd.vtex");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}
.HeroCategory{
    margin-bottom: 8px;
    vertical-align: center;
    horizontal-align: center;
}
.HeroCategoryControls{
    flow-children:right;
    height: 20px;
    position: 0px 150px 0;
}
#HeroListContainer{
    position: 0px 60px 0;
}
#HeroList{
    flow-children: right-wrap;
    padding: 4px;
    overflow: squish scroll;
}
.HeroCard{
    width: 51px;
    height: 83px;
    tooltip-body-position: 50% 50%;
    tooltip-position: right;
    transition-property: saturation, brightness, wash-color, opacity;
    transition-duration: 0.2s;
    /* saturation: 0.0;
    contrast: 0.85; */
    /* brightness: 0.3; */
}
#HeroImage{
    width: 100%;
    height: 100%;
    margin: 4px;
    saturation: 0.7;
    
}
#CategoryDragTarget{
    flow-children: right;
    height: 100%;
}
.AgilityIcon{
    /* background-color: url("s2r://panorama/images/primary_attribute_icons/primary_attribute_icon_agility_colorblind_psd.vtex"); */
}
/* .HeroCategory{
    width: 18px;
    height: 18px;
    margin-left: 4px;
    vertical-align: middle;
    wash-color: #ccc;
    background-size: no-repeat;
    background-position: center;
} */
#HeroCategoryName{
    color: #808fa6;
    text-shadow: 2px 2px 4px #00000044;
    padding-left: 4px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px;
    height: 100%;
    font-weight: semi-bold;
}
#HeroBadgeStatus{
    vertical-align: bottom;
    flow-children: down;
    margin-bottom: -3px;
}
#HeroBadgeLevel{
    font-size: 12;
    color:white;
    font-weight: bold;
    text-align: center;
    text-shadow: 0px 0px 4px 2.0 black;
    margin-bottom: -5px;
    width: 16px;
    text-overflow: shrink;
    background-color: gradient( radial, 50% 100%, 0% 0%, 50% 100%, from( #000000ee ), to( #00000009 ) );
    font-family: titleFont;
}
#HeroBadgeIcon{
    width: 15px;
    height: 18px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: 0 12px 0;
}
#HeroPreferredBadgeLevel{
    font-size: 22;
    color:white;
    font-weight: bold;
    text-align: center;
    text-shadow: 0px 0px 4px 2.0 black;
    margin-bottom: -5px;
    width: 100%;
    text-overflow: shrink;
    font-family: titleFont;
    vertical-align: center;
}
#HeroPreferredBadgeStatus{
    width: 60px;
    height: 72px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    horizontal-align: right;
    margin-right: 80px;
}
.BronzeTier{
    background-image: url("s2r://panorama/images/hero_badges/hero_badge_rank_0_tiny_png.vtex");
}
#HeroCardContents, #HeroCardOverlays, #HeroPlayerOverlay{
    height: 100%;
    width: 100%;
}
#BannedOverlay{
    background-image: url("s2r://panorama/images/hero_selection/banned_overlay_psd.vtex");
    background-size: 100% 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    wash-color: red;
    width: 100%;
    height: 100%;
    horizontal-align: center;
    vertical-align: center;
    pre-transform-scale2d: 1.15;
    /* transform:translateX(14px) translateY(-18px); */
    opacity: 0.0;
    border:1px solid rgb(255, 255, 255);
}
.SearchActive{
    brightness: 0.2;
    saturation: 0;
    wash-color: #ce7a7aaa;
}
#DragOverlay{
    vertical-align: middle;
    horizontal-align: center;
    width: 32px;
    height:32px;
    background-image: url("s2r://panorama/images/control_icons/move_png.vtex");
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.0;
    transition-property: opacity;
    transition-duration: 0.2s;
}
#AddHeroOverlay{
    vertical-align: middle;
    horizontal-align: center;
    width: 32px;
    height: 32px;
    background-image: url("s2r://panorama/images/control_icons/plus_thin_png.vtex");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    wash-color: #666;
    visibility: collapse;
}
#DragDeleteOverlay{
    vertical-align: middle;
    horizontal-align: center;
    width: 32px;
    height: 32px;
    wash-color: #e1d9db;
    background-image: url("s2r://panorama/images/control_icons/icon_trash_png.vtex");
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.0;
}
#InfoIcon{
    width: 18px;
    height: 18px;
    background-image: url("s2r://panorama/images/status_icons/information_psd.vtex");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    tooltip-position: right;
    tooltip-body-position: 50% 50%;
    transition-property: wash-color;
    transition-timing-function: ease-in-out;
    transition-duration: 0.2s;
}
#HeroAnimatedImage{
    horizontal-align: center;
}
#HeroPlayerOverlay{
    /* ui-scale: 2; */
}

#HeroCategory_druid{
    margin-left: 100px;
    margin-top: 200px;
}
#HeroCategory_nekro{
    margin-left: 450px;
    margin-top: 200px;
}
#HeroCategory_inferno{
    margin-left: 800px;
    margin-top: 200px;
}

#HeroCategory_gnom{
    margin-left: 100px;
    margin-top: 400px;
}
#HeroCategory_zveri{
    margin-left: 450px;
    margin-top: 400px;
}
#HeroCategory_troll{
    margin-left: 800px;
    margin-top: 400px;
}
#HeroCategory_people{
    margin-left: 100px;
    margin-top: 600px;
}
#HeroCategory_angel{
    margin-left: 100px;
    margin-top: 600px;
}
#HeroCategory_demon{
    margin-left: 450px;
    margin-top: 600px;
}
#HeroCategory_assasin{
    margin-left: 800px;
    margin-top: 600px;
}

#MainHeroPickScreenContents{
    width: 100%;
    margin-left: 80px;
    margin-right: 200px;
    transform-origin: 0% 85%;
}
#HeroPickLeftColumn{
    width: 100%;
    margin-right: 300px;
}
#HeroPickRightColumn{
    width: 376px;
    height: 664px;
    margin-top: 200px;
    horizontal-align: right;
    transform: translateX(0px) rotateY(0deg) scaleX(1);
}
#HeroPickControls{
    vertical-align: bottom;
    width: 100%;
    height: 70px;
    flow-children: right;
}
#LockInButton{
    flow-children: down;
    width: fill-parent-flow( 1.0 );
    overflow: clip;
}
.PickButton{
    height: 100%;
    padding: 8px;
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #404D65dd ), to( #2B3445dd ) );
    border-top: 1px solid #6F819B;
    border-left: 1px solid #6F819B22;
    border-right: 1px solid #6F819B11;
    border-bottom: 1px solid #3F414B33;
    box-shadow: #0000004f 0px 0px 12px 0px;
    transition-property: opacity, background-color;
    transition-duration: 0.18s;
}
.PickButton:hover{
    brightness: 2;
}
#RandomButton{
    margin-left: 12px;
    width: 93px;
    height: 93px;
    tooltip-position: top;
    tooltip-body-position: 50% 50%;
}
#RandomButton .RandomIcon{
    width: 34px;
    height: 38px;
    horizontal-align: center;
}
.RandomIcon{
    background-image: url("s2r://panorama/images/control_icons/random_dice_psd.vtex");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
#RandomButton Label{
    width: 100%;
    font-size: 14px;
    text-align: center;
    text-overflow: shrink;
    margin-bottom: -6px;
    vertical-align: bottom;
}
.PickButton Label{
    color:#ccc;
    text-transform: uppercase;
}
.PickButton .PickButtonTitle{
    width: 100%;
    font-size: 20px;
    letter-spacing: 2px;
    horizontal-align: right;
    margin-top: -2px;
}
.PickButton .PickButtonHeroName{
    width: 100%;
    font-size: 36px;
    text-overflow: shrink;
    max-width: 256px;
    color:white;
    margin-top: -2px;
    height: 48px;
}
.inactivePickButton{
    saturation: 0.0;
    brightness: 0.2;
}
.inactivePickButton:hover{
    saturation: 0.0;
    brightness: 0.2;
}
#HeroInspectHeader{
    padding-left: 16px;
    padding-right: 16px;
    flow-children: right;
}
#HeroInspectHeroName{
    color:white;
    font-size: 32px;
    text-transform: uppercase;
    margin-left: 8px;
    font-weight: semi-bold;
    letter-spacing: 1px;
    text-overflow: shrink;
    font-family: titleFont;
    vertical-align: center;
}
#HeroInspectInfo{
    margin-left: 16px;
    margin-right: 16px;
    flow-children: right;
    height: 203px;
    width: 100%;
    margin-top: 42px;
    margin-bottom: 10px;
}
#HeroPortrait{
    border: 1px solid #54709522;
    background-color: black;
}
#HeroMovie{
    width: 160px;
    height: 203px;
    box-shadow: #000000aa 0px 0px 16px 0px;
}
#HeroStats{
    flow-children: down;
    width: 100%;
    height: 100%;
    margin-top: 5px;
    background-color: #0a0a0a;
}
#SectionAttributes{
    horizontal-align: center;
}
#SectionDerivedStats{
    flow-children: right;
    margin-top: 5px;
    horizontal-align: center;
    width: 100%;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    border-top: 1px solid #54709521;
    background-color: black;
}
#HeroStatsSection{
    flow-children: down;
    tooltip-position: top;
    tooltip-body-position: 50% 50%;
}
.SectionAttributes .HeroStatsRow{
    padding: 5px;
    padding-top: 2px;
    padding-bottom: 6px;
}
.HeroStatsRow{
    flow-children: right;
    vertical-align: center;
}
.AttributeContainer{
    flow-children: down;
    padding-left: 5px;
}
#HeroAbilies{
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 255px;
    flow-children: right;
    height: 60px;
}
#HeroInspect{
    height: 100%;
    width: 100%;
    background-color: gradient( linear, 0% 100%, 0% 0%, from( #171A25dd ), to( #171A25dd ) );
    padding-top: 2px;
    border: 1px solid black;
}
#TeamBar{
    flow-children: right;
    horizontal-align: left;
    margin-left: 230px;
}
.PlayerTopBar{
    flow-children: down;
}
#PlayerHeroRankCon{
    width: 45px;
    height: 54px;
    vertical-align: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.FontSet1{
    text-overflow: shrink;
    font-family: titleFont;
    color:white;
    font-weight: bold;
    text-align: center;
    text-shadow: 0px 0px 4px 2.0 black;
}
#PlayerHeroRankLabel{
    vertical-align: center;
    horizontal-align: center;
    font-size: 15;
    margin-bottom: -5px;
    /* background-color: gradient( radial, 50% 100%, 0% 0%, 50% 100%, from( #000000ee ), to( #00000009 ) ); */
}
#PlayerNameTopBar{
    font-size: 15;
    width: 100%;
    margin-top: 5px;
}
#PlayerTopBarImageCon{
    horizontal-align: center;
    opacity-mask: url("s2r://panorama/images/masks/topbar_heroslant_left_psd.vtex");

}
#PickTimerCon{
    flow-children: down;
    width: 200px;
    horizontal-align: center;
}
#PickTimerCounter{
    color:white;
    width: 100%;
    height: 88px;
    font-size: 64px;
    font-weight: thin;
    text-align: center;
    font-family: monospaceNumbersFont;
}
#TeamEffectsCon{
    flow-children: down;
    margin-left: 240px;
    margin-top: 100px;
}
.TeamEffectLabel{
    color:white;
    font-size: 17px;
    font-weight: thin;
    text-align: center;
    font-family: monospaceNumbersFont;
}
.HeroPickTentative{
    saturation: 0.0;
    contrast: 0.85;
    brightness: .3;
    wash-color: #ACBFDD;
}
#HeroImageBorder{
    background-image: url("s2r://panorama/images/masks/topbar_heroslant_left_inset_psd.vtex");
    background-size:100%;
    background-repeat: no-repeat;
    wash-color: black;
    opacity: 0.3;
}
#PickDescriptiop{
    margin-top: 0px;
    color: #A9C7f1;
    font-size: 32px;
    font-weight: thin;
    text-align: center;
    text-transform: uppercase;
    horizontal-align: center;
}
#HeroPreferredPanel{
    flow-children: right;
    vertical-align: bottom;
    horizontal-align: left;
    margin-left: 150px;
}
.HeroPreferredPlayerPanel{
    height: 350px;
    width: 300px;
}
#HeroPreferredScenePanel{
    height: 300px;
    width: 300px;
    /* background-color: gradient( radial, 50% 50%, 0% 0%, 50% 50%, from( rgba(0, 255, 0, 0.452) ), to( rgba(95, 95, 158, 0) ) ); */
}
#HeroPreferredPlayerName{
    width:100%;
    text-align: center;
    font-size: 25;
    font-weight: bold;
    color:white;
    text-shadow: 0px 0px 4px 2.0 black;
    vertical-align: bottom;
    margin-bottom: 25px;
}
#HeroPreferredHeroRace{
    width:100%;
    text-align: center;
    font-size: 21;
    font-weight: thin;
    color:white;
    text-shadow: 0px 0px 4px 2.0 black;
    vertical-align: bottom;
    margin-bottom: 3px;
}
#ChatMainPanel{
    width: 486px;
    flow-children: down;
    vertical-align: bottom;
    horizontal-align: right;
    margin-right: 140px;
    margin-bottom: 10px;
}
#ChatLinesContainer{
    height: 160px;
    background-color: #000000ca;
    opacity-mask: url("s2r://panorama/images/masks/chat_preview_opacity_mask_png.vtex") 0.0;
    width: 100%;
    overflow: squish scroll;
}
#ChatControls{
    width: 100%;
}
#ChatTextEntry{
    width: 100%;
}
#ChatLinesWrapper{
    flow-children: down;
}
#ChatLabel{
    color:white;
    text-shadow: 2px 4px 6px 2.0 black;
    font-size: 21;
}
#ReturneToGameButton{
    /* margin-left: 10px; */
    width: 62px;
    height: 57px;
    background-image: url("s2r://panorama/images/control_icons/return_to_game_png.vtex");
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    wash-color: #444a55;
    transition-property: background-color, wash-color;
    transition-delay: 0.0s;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
}
#ReturneToGameButton:hover{
    wash-color:#9999aa;
}
#SettingsButton{
    margin-left: 62px;
    width: 32px;
    height: 57px;
    background-image: url("s2r://panorama/images/control_icons/gear_png.vtex");
    background-size: 27px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    wash-color: #444a55;
    transition-property: wash-color, pre-transform-scale2d;
    transition-duration: 0.1s;
    transition-timing-function: ease-in;
}
#SettingsButton:hover{
    wash-color:#9999aa;
}
#CategoryIcon{
    /* height: 20px;
    width: 20px; */
    background-size: contain;
    /* background-image: url("file://{images}/custom_game/race_icon/zveri.png"); */
}
#HeroInspectPrimaryAttributeIcon{
    height: 40px;
    width: 40px;
    background-size: contain;
}
#CategoryImage{
    height: 60px;
    width: 60px;
    background-image: url("file://{images}/custom_game/race_icon/zveri.png");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    horizontal-align: center;
}
#HeroPreferredRaceIcon{
    background-image: url("file://{images}/custom_game/race_icon/zveri.png");
    background-size: 100%;
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    height: 72px;
    width: 72px;
    margin-left: 58px;
}
#HeroPreferredIconsPanel{
    width: 100%;
    vertical-align: bottom;
    margin-bottom: 50px;
}