#ArrowPanel{
    height: 120px;
    width: 50px;
    border:1px solid black;
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #1e258f ), to( #0a0833 ) );
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    margin-top: 50px;
}
#ArrowImage{
    horizontal-align: center;
    vertical-align: center;
    height: 97px;
    width: 40px;
    background-image: url("file://{resources}/images/custom_game/ShopUtility/arrow_1.png");
    /* transform: rotateZ( 180deg ); */
}
#ShopPanel{
    width: 250px;
    height: 385px;
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #1e258f ), to( #0a0833 ) );
    border: 1px solid black;
}
#ShopUtilityPanel{
    flow-children: right;
    position: 270px 235px 0;
    z-index: -1;
    transition-property:position;
    transition-duration:.2s;
}
#UtilityGoldPanel{
    margin-left: 20px;
}
#UtilityGoldPanel Image{
    height: 35px;
    width: 35px;
    img-shadow: 2px 2px 8px 3.0 #000000b0;
}
#UtilityGoldPanel Label{
    text-shadow: 0px 0px 4px 2.0 black;
    color:white;
    font-size: 21;
    font-weight: bold;
    vertical-align: center;
    margin-left: 40px;
}
#UtilityGemPanel{
    margin-left: 130px;
}
#UtilityGemPanel Image{
    height: 35px;
    width: 40px;
    img-shadow: 2px 2px 8px 3.0 #000000b0;
}
#UtilityGemPanel Label{
    text-shadow: 0px 0px 4px 2.0 black;
    color:white;
    font-size: 21;
    font-weight: bold;
    vertical-align: center;
    margin-left: 50px;
}
#UtilityMoneyPanel{
    margin-top: 30px;
}
#UtilityShopLabel{
    text-shadow: 0px 0px 4px 2.0 black;
    color:white;
    font-size: 24;
    font-weight: bold;
    width: 100%;
    text-align: center;
}